@font-face {
   font-family: 'All Round Gothic W03 Book';
   font-display: swap;
   src: url('file:///C:/Users/Pedro/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-06-08_093010/fonts/All%20Round%20Gothic%20W03%20Book/font.woff');
}
