@font-face {
   font-family: 'All Round Gothic W03 Book';
   font-display: swap;
   src: url('All Round Gothic W03 Book/font.woff');
}
@font-face {
   font-family: 'Scandia-Regular';
   font-display: swap;
   src: url('Scandia-Regular/font.woff');
}
