@font-face {
   font-family: 'Scandia-Regular';
   font-display: swap;
   src: url('file:///C:/Users/Pedro/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-06-08_093010/fonts/Scandia-Regular/font.woff');
}
